
.main{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 0;
}

.nav-header{
  margin-left: 2vw;
  margin-top: 0.5vw;
}


.nav-items > ul{
  display: flex;
list-style-type: none;
margin-left: -85vw;
margin-top: 22px;
font-size: 1vw;
}

.nav-items > ul > li{
  margin-left: 50px;
  cursor: pointer;
}



.nav-img > img{
width: 100%;
margin-top: -14%;
}

.nav-img{
  margin-left: 50%;
}

.nav-img > p{
  margin-left: 550px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  font-size: 14px;
  cursor: pointer;
}
.cart{
  margin-left: 450px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
  font-size: 14px;
  cursor: pointer;
}


.apple-group > img {
  width: 85%;
  height: 85%;
  margin-top: -15%;
}

.apple-group{
  margin-top: -37%;
  margin-left: 720px;
}

.phone-text{
  margin-top: -35%;
  margin-left: 250px;
}

.phone-text > h1 {
  font-size: 400%;
  margin-left: 20px;
  margin-top: -90px;
  /* text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.phone-text > h5 {
  margin-left: 70px;
  margin-top: 25px;
  margin-left: 60px;
}


.phone-text > h6{
  margin-left: 110px;
  margin-top: 25px;
}




.apple-logo > img{
  width: 7%;
  height: 7%;
  margin-top: -890px;
  margin-left: 350px;
}

.item-collection > h1 {
  text-align: center;
}

.product-section{
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 30px;

}

.productlist{
  margin-left: 30px;
  margin-top: 50px;
}

.card{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
}


.api-image{
 
    width: 100%;
    height: 150px; 
    object-fit: scale-down;
    overflow: hidden;
  
}

#title-card{
  font-family: "Lato ", sans-serif;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13ch;
  margin-left: 80px;
  margin-top: 2px;
}

#text-card{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
  font-family: "Lato" , sans-serif;
  font-size: 15px;
}

.btn{
  background-color: #FFAB5E;
  border-color: #FFAB5E;
  margin-left: 90px;
}